$color-backGround: #0F162D;
$first-sectionColor: #CA59FF;
$sec-sectionColor: #6C7CFF;
$third-sectionColor: #2AFFFF;
$four-sectionColor: #FFF629;

$secondary-colorFont: #FFFFFF;
$secondary-color: #272D42;
$secondary-black: #000000;

